
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 400;
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}




body {
    font-family: 'Inter', 'Gilroy', sans-serif;
    background-color: #fff;

}

.content{
    margin: 0 auto;
    max-width: 1170px;
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 84px;
}

.header_logo{
    display: flex;
}

.logo_title{
    margin: auto 0;
    margin-left: 14px;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 24px;

}

.logo_title_color{

    color: #f25822;
}

.header_links{
    flex-grow: 1;
    flex-basis: 0;
    margin: auto 0;
    max-width: 534px;
    display: flex;
    justify-content: space-between;
    font-family: Gilroy-SemiBold;

}

.header_link{
    align-items: center;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.header_link_active{
    color: #F25822;
}

.icon{
    margin-top: 2px;
    margin-left: 3px;
}

main{
   
    display: flex;
    justify-content: space-between;
    margin-bottom: 162px;
}

.main__info{

}

H1{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    margin-bottom: 17px;
}

.main__paragraph{
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    margin-bottom: 37px;

}

.main__buttons{
    display: flex;
}

.main__button{
    cursor: pointer;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 72px;
}

.main__button2{
    cursor: pointer;
    margin: auto 0;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;

}

.main__image{
   
    width: 100%;
}

.main__image img{
    padding-right: 64px;
    width: 100%;
    height: auto; 
    min-width: 20%;
    max-width: 100%;

}


footer {

    padding-top: 97px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-container img {

}



.features__main{

}

.features{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
}

.feature{
    max-width: 380px;
    padding: 40px 34px;
}

.feature1{

}

.feature2{
    
}

.feature3{
    
}

.feature__info{
    margin: 25px 0;
}

.feature__head{
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 18px;
}

.feature_text{
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #666;
}

.feature a{
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #000;
}

.feature__shadow{
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    background: #fff;
}

.background__grey{
    background-color: #FAFAFA;
}

.services__main{
    padding: 100px 0;
    
}

.services__head{
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #000;
    padding-bottom: 24px;

}

.services__text{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #888;
    padding-bottom: 48px;

}

.services{
    display: flex;
    justify-content: space-between;
}

.service{
    max-width: 378px;
    padding-bottom: 34px;
    background: #fff;

}

.service__info{
    padding: 0 34px;
}

.service__title{
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #000;
    margin-top: 32px;
    margin-bottom: 16px;
}

.service__description{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #666;
    margin-bottom: 24px;
}

.service__button{
    margin: 0 auto;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background: #F25822;
    border-radius: 56px;
    width: 166px;
    height: 51px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 72px;
    
}

.service__button span{
    margin-left: 3px;
}

.service_shadow{
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    background: #fff;
}